* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 20rem 1fr;
    height: 100vh;
}

.sidebar {
    background-color: red;
    grid-row: span 4;
    grid-column: 1/2;
}

.master-header {
    background-color: blue;
    grid-column: 2/-1;
    grid-row: span 1;
}

.main-content {
    background-color: green;
    grid-column: 2/-1;
    grid-row: 2/4;
}

.master-footer {
    background-color: yellow;
    grid-column: 2/-1;
    grid-row: 4/5;
}